table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 20px;
    background-color: var(--background);
}
  
th,
td {
    border: 1px solid var(--secondary);
    padding: 8px;
    text-align: left;
    font-size: 15px;
    vertical-align: middle;
    color: var(--text);
}
  
th {
    background-color: var(--secondary);
}

/* Styling for the input fields */
input[type="number"] {
    width: 80%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0px;
    font-size: 15px;
    text-align: left;
    vertical-align: middle;
    color: var(--text);
}

input[type="text"] {
    flex: 0 1 auto;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 22px;
    padding: 3px;
}

td:nth-child(1) {
    width: 275px;
}

td:nth-child(2) {
    width: 70px;
}

button {
    font-size: 20px;
    padding: 8px 16px;
    margin-left: 10px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inputCell {
    padding: 3px;
}

.input-cell-percentage {
    padding: 3px;
    padding-right: 8px;
}

.percentage-cell-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticker-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    font-size: 25px;
    font-weight: bold;
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip::after {
    content: '?';
    position: absolute;
    margin-left: 7px;
    width: 15px;
    height: 15px;
    background-color: #E0E0E0;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 13px;
    font-size: 13px;
}

.tooltip:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 25px;
    padding: 5px;
    background-color: var(--text);
    color: var(--background);
    border-radius: 4px;
    opacity: 0.9;
    font-size: 12px;
    white-space: nowrap;
    pointer-events: none;
  }
