:root {
    --text: #080708;
    --background: #EFECEF;
    --primary: #4962A8;
    --secondary: #C5CCE4;
}

body {
  min-width: 875px;
  background-color: var(--background);
  color: var(--text);
}

footer {
  justify-content: center;
  font-size: 14px;
}

.instructions {
  margin: 0px 40px;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
}

.App-header {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.main-container {
  padding: 20px;
  padding-top: 0px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.right-section {
  padding-left: 25px;
}

.left-section,
.right-section {
  width: 50%;
  box-sizing: border-box;
}

.error-message-container {
  height: 25px;
  overflow: hidden;
}

.error-message {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s;
  background-color: #ffcccc;
  border: 1px solid #cc0000;
  color: #cc0000;
}

.error-message.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s;
}