:root {
    --text: #080708;
    --background: #EFECEF;
    --primary: #4962A8;
    --secondary: #C5CCE4;

    --primary-color: #3498db; /* Main color */
    --secondary-color: #2ecc71; /* Secondary color */
    --background-color: #f5f5f5; /* Background color */
    --text-color: #333; /* Text color */
    --accent-color: #e74c3c; /* Accent color */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  min-width: 875px;
  background-color: var(--background);
  color: var(--text);
  overflow-y: scroll;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-content: center;
}

.App-header {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.main-container {
  padding: 20px;
  padding-top: 0px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.error-message-container {
  height: 25px;
  overflow: hidden;
}

.error-message {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s;
  background-color: #ffcccc;
  border: 1px solid #cc0000;
  color: #cc0000;
}

.error-message.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear, opacity 0.2s;
}

/* Common styles for both mobile and desktop */
.left-section,
.right-section {
  box-sizing: border-box;
  width: 50%;
}

/* Desktop-specific styles 
.desktop-device .right-section {
  padding-left: 25px;
}

/* Mobile-specific styles 
.mobile-device .left-section,
.mobile-device .right-section {
  width: 100%;
}

.mobile-device .right-section {
  padding-left: 0;
}*/